

body {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51VFV3pHfwL.jpg);
    background-size: cover;
}

.container {
    
    background-color: whitesmoke;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  
}
.header {
    padding: 20px;
    text-align: center;

}
p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 100%;
}

.image-left {
    padding: 20px; 
    text-align: center; 
    max-width: 250px;
}

.image-right {
    padding: 20px; 
    text-align: center; 
    max-width: 250px;
}

@media (max-width: 522px) {

    .image-left {
        max-width: 200px;
       
    }

   .image-right  {
        display:none;
    }

}
